@{
    ViewData["Title"] = "About Me";
}


<!-- ABOUT SECTION -->
<section class="bg-light main-section" id="about">
    <div class="container">
        <header class="mb-5 text-center">
            <h2 class="heading wow fadeInUp" data-wow-delay="0.3s">About me</h2>
        </header>
        <div class="row gy-4">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <p>
                    Hello, I’m Jacquelyn Little. I have been a stay at home mom the last 10 years. It has been a phenomenal experience managing a house                     with 3 kids. I absolutely loved that I got the gift of being home with my kids and it is time for me to chase my dreams and I                           decided Centriq would be a great place to start!
                </p>
                <p>
                    Ever since middle school my goal/dream was to work with computers. I wanted to absorb all knowledge about them, how to take them                        apart and put them back together, know how all the programs work and how to create/write programs and websites. I want to learn                         networking stuff as well. If it involves computers – I’m interested
                </p>
                <p>
                    I have thoroughly enjoyed learning at Centriq. From HTML, CSS, JavaScript, and JQuery to C# and also using the .NET Framework.                          Moving to MVC converting our static sites to dynamic. We use SQL, XML, and JSON to store and retrieve data used in our applications.                    From MVC we went on to React. Then last 2 weeks building a data driven web app front to back. We design, build, test, deploy and                        present our project to employers. You can see some of my projects I created in my portfolio tab.
                </p>
                <p>
                    I can not wait to get out there and further my knowledge on what Centriq has taught me! Hope to see you out                        there! Happy coding!
                </p>
            </div>
            <div class="col-lg-4 col-lg-6 mx-auto text-center wow fadeInUp"
                 data-wow-delay="0.9s">
                <img class="rounded-circle img-fluid about"
                     src="~/img/Classmates/Jacquelyn.png"
                     alt="Jacquelyn Little">
            </div>
        </div>
    </div>
</section>
<!-- /- END ABOUT SECTION -->
