@{
    ViewData["Title"] = "Home Page";
}

    <!-- INTRO SECTION-->
    <section class="intro bg-cover bg-center d-flex align-items-center dark-overlay" id="intro" style="background: url(img/home.jpg)">
        <div class="overlay-content text-white w-100">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <div class="pb-5 mb-lg-5 wow fadeInDown"><img src="img/PersonalSiteLogo(1).png" alt="..." width="130"></div>
                        <h1 class="intro-heading mb-5 wow fadeInDown" data-wow-delay="0.3s">Web Developer</h1>
                        <p class="h3 intro-text fw-normal wow fadeInUp" data-wow-delay="0.6s"> 
                            Do the best you can until you know better. Then when you know better, do better. ~Maya Angelou

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  /- END INTRO SECTION-->
  