@{
    ViewData["Title"] = "Classmates";
}


<!-- TESTIMONIALS "Classmates" SECTION -->
<section class="bg-light main-section" id="testimonials">
    <div class="container text-center">
        <header class="mb-4">
            <div class="row mb-4 wow fadeInUp">
                <div class="col-lg-6 mx-auto">
                    <h2 class="heading">Centriq classmates</h2>
                </div>
            </div>
            <p class="lead text-muted wow fadeInUp" data-wow-delay="0.1s">I got to work with some amazing fellow developers...</p>
        </header>
        <div class="swiper testimonials-slider wow fadeInUp px-4" data-wow-delay="0.3s">
            <div class="swiper-wrapper align-items-stretch">
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Brittany.png" alt="BrittanyDodd" width="150"></div>
                        <p>
                            <i class="bi bi-envelope"></i>
                            <a href="mailto:Brittany.R.Dodd@hotmail.com" title="Brittany.R.Dodd@hotmail.com">Brittany.R.Dodd@hotmail.com</a>
                        </p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.BrittanyDodd.net" target="_blank">www.BrittanyDodd.net</a></p>
                        <p>
                            <i class="bi bi-linkedin"></i>
                            <a href="http://www.linkedin.com/in/brittany-dodd-230467249/" target="_blank"> www.linkedin.com/in/brittany-dodd-230467249/</a>
                        </p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Brittany Dodd</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                    </div>
                    <p class="mb-4 text-gray-500 text-start"></p>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Casey.png" alt="Casey Brown" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:CaseyBrownWD@gmail.com" title="CaseyBrownWD@gmail.com">CaseyBrownWD@gmail.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.SomethingCachey.com" target="_blank">www.SomethingCachey.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/casey-brown-wd/" target="_blank"> www.linkedin.com/in/casey-brown-wd/</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Casey Brown</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/John.png" alt="John Walls" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:jpwalls08@gmail.com" title="jpwalls08@gmail.com" ">jpwalls08@gmail.com"</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.jpwalls.com" target="_blank">www.jpwalls.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/john-w-0151b31b3" target="_blank"> www.linkedin.com/in/john-w-0151b31b3</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">John Walls</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Kurtis.png" alt="Kurtis Caldwell" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:KCaldwell86@outlook.com" title="KCaldwell86@outlook.com">KCaldwell86@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.www.Kurtiscaldwell.com" target="_blank">www.Kurtiscaldwell.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/kurtis-caldwell-b212bb24b/" target="_blank"> www.linkedin.com/in/kurtis-caldwell-b212bb24b/</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Kurtis Caldwell</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Matthew.png" alt="Matthew Jennings" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:mejennings@gmail.com" title="mejennings@gmail.com">mejennings@gmail.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.matthewjennings.net" target="_blank">www.matthewjennings.net</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/matt-jennings-9bb1061b2" target="_blank"> www.linkedin.com/in/matt-jennings-9bb1061b2</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Matthew Jennings</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Paige.png" alt="Paige Scott" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:paigescott3@outlook.com" title="paigescott3@outlook.com">paigescott3@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.readypaigeone.com" target="_blank">www.readypaigeone.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/think-paige-scott" target="_blank"> www.linkedin.com/in/think-paige-scott</a></p>

                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Paige Scott</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Sean.png" alt="Sean Coyan" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:seancoyan@outlook.com" title="seancoyan@outlook.com">seancoyan@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.seancoyan.com" target="_blank">www.seancoyan.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/seancoyan/" target="_blank"> www.linkedin.com/in/seancoyan/</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Sean Coyan</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Storm.png" alt="Storm Agnew" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:stormagnew77@gmail.com" title="stormagnew77@gmail.com">stormagnew77@gmail.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.stormycoding.com" target="_blank">www.stormycoding.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/storm-agnew-88396224b/" target="_blank"> www.linkedin.com /in/storm-agnew-88396224b/</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Storm Agnew</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Zach.png" alt="Zachary Barkoviak" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:zjbarkoviak@outlook.com" title="zjbarkoviak@outlook.com">zjbarkoviak@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.zachbarkoviak.com" target="_blank">www.zachbarkoviak.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/zachary-barkoviak-21b2b8249/" target="_blank">www.linkedin.com/in/zachary-barkoviak-21b2b8249/</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Zachary Barkoviak</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Dylan.png" alt="Dylan Poole" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:dypool01@wsc.edu" title="dypool01@wsc.edu">dypool01@wsc.edu</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.dylanpoole.com" target="_blank">www.dylanpoole.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/dylan-poole-141602241/" target="_blank"> www.linkedin.com/in/dylan-poole-141602241/</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Dylan Poole</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Juno.png" alt="Juno Lewis" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:Juno042022@outlook.com" title="Juno042022@outlook.com">Juno042022@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.jlewisinquiry.com" target="_blank">www.jlewisinquiry.com</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/juno-lewis-825714247/" target="_blank"> www.linkedin.com/in/juno-lewis-825714247/</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Juno Lewis</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Devin.png" alt="Devin Kuhlman" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:devin.kuhlman@att.net" title="devin.kuhlman@att.net">devin.kuhlman@att.net</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.devinkuhlman.com/" target="_blank">www.devinkuhlman.com/</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/devin-kuhlman-9abb87222/" target="_blank"> www.linkedin.com/in/devin-kuhlman-9abb87222/</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Devin Kuhlman</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Tanner.png" alt="Tanner Lampson" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:cybertml@outlook.com" title="cybertml@outlook.com">cybertml@outlook.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.tannermatthew.dev" target="_blank">www.tannermatthew.dev</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/tanner-matthew-dev" target="_blank"> www.linkedin.com/in/tanner-matthew-dev</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Tanner Lampson</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5 mt-5 ml-5 mr-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100 about">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/Dawson.png" alt="Dawson Meir" width="150"></div>
                        <p><i class="bi bi-envelope"></i><a href="mailto:dawson.a.meier@gmail.com" title="dawson.a.meier@gmail.com">dawson.a.meier@gmail.com</a></p>
                        <p><i class="bi bi-globe2"></i><a href="http://www.dawsonmeierdev.net" target="_blank">www.dawsonmeierdev.net</a></p>
                        <p><i class="bi bi-linkedin"></i><a href="http://www.linkedin.com/in/dawson-meier-b9781a238/" target="_blank"> www.linkedin.com/in/dawson-meier-b9781a238/</a></p>
                        <div class="me-3 text-end">
                            <h6 class="text-uppercase text-muted mb-1">Dawson Meir</h6>
                            <p class="mb-0 small text-muted">Web Developer</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<!-- /- END TESTIMONIALS "Classmates" SECTION -->
