@{
    ViewData["Title"] = "Links";
}

<!-- TESTIMONIALS "Classmates" SECTION -->
<section class="bg-light main-section" id="testimonials">
    <div class="container text-center">
        <header class="mb-4">
            <div class="row mb-4 wow fadeInUp">
                <div class="col-lg-6 mx-auto">
                    <h2 class="heading">My classmates at Centriq</h2>
                </div>
            </div>
            <p class="lead text-muted wow fadeInUp" data-wow-delay="0.1s">Some random text for now...</p>
        </header>
        <div class="swiper testimonials-slider wow fadeInUp" data-wow-delay="0.3s">
            <div class="swiper-wrapper align-items-stretch">
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start"></p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Brittany Dodd</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/BrittanyDodd.jpg" alt="BrittanyDodd" width="150"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &quot;What is happened to me? &quot; he thought. It was not a dream.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Casey Brown</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/CaseyBrown.jpg" alt="Casey Brown" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">John Walls</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/JohnWalls.jpg" alt="John Walls" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Kurtis Caldwell</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/KurtisCaldwell.jpeg" alt="Kurtis Caldwell" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Matthew Jennings</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/MatthewJennings.png" alt="Matthew Jennings" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Paige Scott</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/PaigeScott.jpg" alt="Paige Scott" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Sean Coyan</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/seancoyan1_websize.jpg" alt="Sean Coyan" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Storm Agnew</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/StormAgnew.jpg" alt="Storm Agnew" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Zachary Barkoviak</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/ZacharyBarkoviak.jpg" alt="Zachary Barkoviak" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Dylan Poole</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/DylanPoole.jpg" alt="Dylan Poole" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                           <div class="swiper-slide equal-height h-auto mb-5">
                    <div class="d-flex flex-column justify-content-between bg-white p-4 h-100">
                        <p class="mb-4 text-gray-500 text-start">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fas fa-quote-left fa-2x text-primary me-2"></i>
                            <div class="d-flex align-items-center">
                                <div class="me-3 text-end">
                                    <h6 class="text-uppercase text-muted mb-1">Juno Lewis</h6>
                                    <p class="mb-0 small text-muted">CEO, TransTech</p>
                                </div>
                                <div class="flex-shrink-0"><img class="rounded-circle" src="~/img/Classmates/JunoLewis.jpg" alt="Juno Lewis" width="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<!-- /- END TESTIMONIALS "Classmates" SECTION -->
