@{
    ViewData["Tile"] = "Portfolio";
}

<!-- REFERENCES "Portfolio" SECTION -->
<br />
<section class="bg-light main-section" id="work">
    <div class="container">
        <header class="mb-5 text-center">
            <div class="row mb-5 wow fadeInUp">
                <div class="col-lg-8 mx-auto">
                    <h2 class="heading">My Projects</h2>
                </div>
            </div>
            <br />
            <p class="lead wow fadeInUp" data-wow-delay="0.1s">These are some of the projects I have created at Centriq.</p>
        </header>     
        <br/>
        <br />
        


        <div class="row gy-4" id="content">
            <div class="col-lg-3 col-md-6 mix wow fadeInUp webdesign" data-wow-delay="0s" data-order="1">
                @*<a class="d-block work-item" href="#" data-bs-toggle="modal" data-bs-target="#item1Modal">*@
                    <a target="_blank" class="d-block work-item" href="https://github.com/Jacquelyn525/dungeonapp">
                    <img class="~/img-fluid w-100" src="~/img/ProjectPics/Dungeonapp.jpg" alt="Dungeon App">
                    <div class="overlay">
                        <h3 class="work-heading">Dungeon App</h3>
                        <p>C# Based Console Application Dungeon Crawler</p>                        
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mix wow fadeInUp seo" data-wow-delay="0.1s" data-order="2">
                @*<a class="d-block work-item" href="#" data-bs-toggle="modal" data-bs-target="#item2Modal">*@
                    <a target="_blank" class="d-block work-item" href="https://github.com/Jacquelyn525/StoreFront">
                    <img class="~/img-fluid w-100" src="~/img/ProjectPics/storefront.jpg" alt="Store Front">
                    <div class="overlay">
                        <h3 class="work-heading">Store Front</h3>
                        <p>Using MVC Razor</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mix wow fadeInUp marketing" data-wow-delay="0.2s" data-order="3">
                @*<a class="d-block work-item" href="#" data-bs-toggle="modal" data-bs-target="#item3Modal">*@
                <a target="_blank" class="d-block work-item" href="https://github.com/Jacquelyn525/todo-react-app">
                    <img class="~/img-fluid w-100" src="~/img/ProjectPics/ToDoApp.jpg" alt="React ToDo">
                    <div class="overlay">
                        <h3 class="work-heading">ToDo</h3>
                        <p>React based To Do app</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mix wow fadeInUp marketing" data-wow-delay="0.30000000000000004s" data-order="4">
                @*<a class="d-block work-item" href="#" data-bs-toggle="modal" data-bs-target="#item4Modal">*@
                <a target="_blank" class="d-block work-item" href="https://github.com/mejennings104/SAT">
                    <img class="~/img-fluid w-100" src="~/img/portfolio-4.jpg" alt="SAT-Paired Programming">
                    <div class="overlay">
                        <h3 class="work-heading">SAT</h3>
                        <p>Using MVC Razor</p>
                    </div>
                </a>
            </div>

            <!--  Modal -->
            <div class="modal fade" id="item1Modal" tabindex="-1" aria-labelledby="item1ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center px-lg-5 pb-lg-5 pt-lg-3">
                            <div class="swiper work-slider mb-3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider1.jpg" alt=""></div>
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider2.jpg" alt=""></div>
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider3.jpg" alt=""></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <h2 class="heading mb-5" id="item1ModalLabel">Dungeon App</h2>
                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p><a class="btn btn-outline-primary me-3 my-1" href="https://github.com/Jacquelyn525/dungeonapp.git"> <i class="fas fa-globe-americas me-2"></i>Visit Github</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Modal -->
            <div class="modal fade" id="item2Modal" tabindex="-1" aria-labelledby="item2ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center px-lg-5 pb-lg-5 pt-lg-3">
                            <div class="swiper work-slider mb-3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider1.jpg" alt=""></div>
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider2.jpg" alt=""></div>
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider3.jpg" alt=""></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <h2 class="heading mb-5" id="item2ModalLabel">Store Front</h2>
                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p><a class="btn btn-outline-primary me-3 my-1" href="https://github.com/Jacquelyn525/StoreFront.git"> <i class="fas fa-globe-americas me-2"></i>Visit website</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Modal -->
            <div class="modal fade" id="item3Modal" tabindex="-1" aria-labelledby="item3ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center px-lg-5 pb-lg-5 pt-lg-3">
                            <div class="swiper work-slider mb-3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider1.jpg" alt=""></div>
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider2.jpg" alt=""></div>
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider3.jpg" alt=""></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <h2 class="heading mb-5" id="item3ModalLabel">ToDo</h2>
                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p><a class="btn btn-outline-primary me-3 my-1" href="https://github.com/Jacquelyn525/todo-react-app.git"> <i class="fas fa-globe-americas me-2"></i>Visit website</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Modal -->
            <div class="modal fade" id="item4Modal" tabindex="-1" aria-labelledby="item4ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center px-lg-5 pb-lg-5 pt-lg-3">
                            <div class="swiper work-slider mb-3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider1.jpg" alt=""></div>
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider2.jpg" alt=""></div>
                                    <div class="swiper-slide mb-5"><img class="~/img-fluid d-block mx-auto" src="~/img/main-slider3.jpg" alt=""></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <h2 class="heading mb-5" id="item4ModalLabel">SAT-Paired Programming</h2>
                            <p>Projecting surrounded literature yet delightful alteration but bed men. Open are from long why cold. If must snug by upon sang loud left. As me do preference entreaties compliment motionless ye literature. Day behaviour explained law remainder. Produce can cousins account you pasture. Peculiar delicate an pleasant provided do perceive.</p>
                            <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. Tolerably pretended neglected on my earnestly by. Sex scale sir style truth ought.</p><a class="btn btn-outline-primary me-3 my-1" href="https://github.com/mejennings104/SAT.git"> <i class="fas fa-globe-americas me-2"></i>Visit website</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<br/>
<!-- /- END REFERENCES "Portfolio" SECTION -->
