@{
    ViewData["Title"] = "Resume";
}


<br />
<br />
<br />
<section class="bg-primary text-white" id="resume">
    <div class="container text-center">
        <header class="mb-5 wow fadeInDown">
            <h2 class="heading heading-white">Resume</h2>                 
        </header>        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Web Development</h4>
                    <h5>08/2022 - 11/2022</h5>
                    <p><em>CENTRIQ TRAINING, KANSAS CITY, MO</em></p>
                    <h6> Technical Training</h6>
                    <ul>
                        <li>.NET Core MVC Framework</li>
                        <li>Troubleshooting & Debugging</li>
                        <li>Source Control</li>
                        <li>Website Deployment</li>
                        <li>Pair Programming</li>
                        <li>Code Review</li>
                        <li>Aglile/Scrum (Created Team Project)</li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <h3 class="resume-title">Professional & Tech Skills</h3>
                    <div class="resume-item">
                        <h4>Tools</h4>
                        <ul>
                            <li>Visual Studio</li>
                            <li>Visual Studio Code</li>
                            <li>SSMS</li>
                            <li>Azure Data Studio</li>
                            <li>Git Bash</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Stay At Home Mom</h4>
                    <h5>2011 - Present</h5>
                    <p><em>Kansas City, KS </em></p>
                    <p>
                        <ul>
                            <li>
                                Prioritization abilities - Being able to make to do lists and prioritize what tasks to accomplish first to be
                                able to get the most out of my day.
                            </li>Crisis Management - With my family I have had to adapt to unplanned challenges and emergencies.
                            <li>
                                Problem Solving skills - Applied conflict/resolution skills, how to solve issues with potty training and figuring out
                                how to fix things.
                            </li>
                            <li>Communication skills – Communicated with many different teachers and specialist teachers, doctors and specialty doctors about the issues that were 
                                noticed and in return hear what they are seeing on their end so we can be an all-around team to address the issue.</li>

                            <li>Oversee the management of our home and our children.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Paragon Medical</h4>
                    <h5>2006 - 2011</h5>
                    <p><em>Clean Room Utility Assistant, Smithfield, UT</em></p>
                    <p>
                        <ul>
                            <li>Attention to Detail - In writing new procedures for a clean room, the details had to be very specific.</li>
                            <li>Quality - Needing to be able to see extremely small blemishes and particles on each piece as I was packaging them.</li>
                            <li>
                                Problem Solving - Figuring out new methods of current procedures that would take less time to accomplish tasks while
                                maintaining cleanroom standards.
                            </li>
                            <li>Time Management - Worked with little supervision and stayed on task. Had to work quickly to accomplish the tasks for that day.</li>
                        </ul>
                    </p>
                </div>
              
            </div>
        </div>
    </div>
   
</section><!--------------------------------------------- END RESUME SECTION! -------------------------------------------------------------------------->
