@{
    ViewData["Title"] = "Resume";
}


<br />
<br />
<br />
<section class="bg-primary text-white" id="resume">
    <div class="container text-center">
        <header class="mb-5 wow fadeInDown">
            <h2 class="heading heading-white">Resume</h2>                 
        </header>        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Web Development</h4>
                    <h5>08/2022 - 11/2022</h5>
                    <p><em>CENTRIQ TRAINING, KANSAS CITY, MO</em></p>
                    <h6> Technical Training</h6>
                    <ul>
                        <li>.NET Core MVC Framework</li>
                        <li>Troubleshooting & Debugging</li>
                        <li>Source Control</li>
                        <li>Website Deployment</li>
                        <li>Pair Programming</li>
                        <li>Code Review</li>
                        <li>Aglile/Scrum (Created Team Project)</li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <h3 class="resume-title">Professional & Tech Skills</h3>
                    <div class="resume-item">
                        <h4>Tools</h4>
                        <ul>
                            <li>Visual Studio</li>
                            <li>Visual Studio Code</li>
                            <li>SSMS</li>                            
                            <li>Git Bash</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Family/Household Manager</h4>
                    <h5>2011 - Present</h5>
                    <p><em>Kansas City, KS </em></p>
                    <p>
                        <ul>
                            <li>Prioritization – Evaluate short-term and long-term requirements and needs.</li>
                            <li>Time Management – Coordinate and manage activities of multiple family members, education requirements, household maintenance, vehicle maintenance.</li>
                            <li>Planning and Organization – Meal planning, budget management, task management, transportation, activities coordination.</li>
                            <li>Problem Solving – Skillfully address changes in schedules, unplanned challenges, etc.</li>
                            <li>Conflict Resolution – Resolving scheduling conflicts, financial conflicts, and interpersonal conflicts.</li>
                            <li>Communication – Adapt my approach to and interaction with educators, medical providers, household vendors, etc., to ensure effective communications.</li>                            
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Paragon Medical</h4>
                    <h5>2006 - 2011</h5>
                    <p><em>Clean Room Utility Assistant, Smithfield, UT</em></p>
                    <p>
                        <ul>
                            <li>Prioritization – Identified any tasks that required immediate attention; Determined daily workflow to ensure all orders were processed timely; Ensured sufficient time was available to meet stringent cleanliness standards.</li>
                            <li>Time Management – Worked with minimal supervision and stayed on task to accomplish multiple duties each day. </li>
                            <li>Detail Oriented – Comply with specific requirements and procedures to complete assigned duties; Wrote new/additional procedures to bring policies up to date as needed.</li>
                            <li>Quality Assurance – Examined materials to identify extremely small blemishes and small particles on each piece while quickly packaging materials; Maintained a “cleanroom” pursuant to strict medical standards.</li>
                            <li>Problem Solving – Evaluate policies and procedures to identify new methods or procedures to improve efficiency and effectiveness.</li>
                        </ul>
                    </p>
                </div>
              
            </div>
        </div>
    </div>
   
</section><!--------------------------------------------- END RESUME SECTION! -------------------------------------------------------------------------->
